@import url(styles/defaults.css);

svg{
    fill: currentColor
}

body{
    
    background-color: var(--red);
    color: var(--black);
    background-image: url(/assets/icons/star.svg);
    background-size: 100px 100px;
    font-family: var(--font-family);
    font-size: 1.5rem;
    animation: 1s infinite linear bg-move;
    display: grid;

    grid: 1fr 1fr / .5fr 1fr;
    gap: 80px;


    padding: 100px;
}
@keyframes bg-move{
    from{
        background-position: 0px 0px;
    }
    to{
        background-position: -100px 100px;
    }
}

.card{
    box-shadow: 20px 20px var(--black);
    border-radius: 50px;
    border: 20px solid white;
    padding: 10px;
}

.welcome{
    background: var(--yellow);
    box-shadow: 20px 20px var(--black);
    border-radius: 50px;
    border: 20px solid white;
    padding: 10px;
    grid-row: 1;
}

section{
    /* background: var(--white); */
    --dot-size: 7%;

    
    image-rendering:crisp-edges;
    background-color: var(--blue);
    background-size: 2rem 1.5rem;
    box-shadow: -20px 20px var(--black);
    border-radius: 50px;
    border: 20px solid white;

    grid-row: span 2;

    padding: 10px;
    
    >article{
        >h1{
            font-size: 3rem;
        }
    
        >h2{
            opacity: .7;
            font-size: 2rem;
        }

    }

    >hr{
        height: 64px;
        background: url(assets/hr2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: none;
    }
}

.profile{
    display: grid;
    grid: 1fr 1fr / 1fr;
    background: #aa4fd4;

    >img{
        background: #832c8d;
        max-width: 100%;
        height: 100%;
        margin: auto;
        image-rendering: pixelated;
    }
}

